@charset "utf-8";
/* CSS Document */

h1{
 font-family: BankGothic Md BT;
 font-size: 40px; 
 line-height: 15px;
 border-radius: 10px;
 width: 800px;
 background-color: DarkOrange; opacity: 7
 width: 10px; height: 40px;
 padding: 10px;
 
 }
 h2{
 font-family: BankGothic Md BT;
 font-size: 30px; 
 line-height: 15px;
 border-radius: 10px;
 width: 750px;
 background-color: DarkOrange; opacity: 7
  width: 10px; height: 30px;
 padding: 7px;
 }
 p1 {
 font-family: BankGothic Md BT ;
 font-size: 20px; 
 line-height: 15px;
 border-radius: 10px;
 background-color: LightSalmon; opacity: 7
  width: 10px; height: 40px;
 padding: 9px;
 }
 
  p2 {
 font-family: BankGothic Md BT ;
 font-size: 18px; 
 line-height: 25px;
 border-radius: 40px;
  margin: 12px;
 padding: 7px;
 background-color: LightSalmon; opacity: 1

 }
  p3{
 font-family: BankGothic Md BT ;
 font-size: 16px; 
 line-height: 20px;
 border-radius: 20px;
 background-color: Coral; opacity: 7
  width: 90px; height: 50px;
 padding: 5px;
 }
 p4{
 font-family: BankGothic Md BT ;
 font-size: 16px; 
 line-height: 20px;
 border-radius: 10px;
 background-color: SandyBrown; opacity: 7
  width: 50px; height: 50px;
 padding: 10px;
 }
  blockquote{
 font-family: BankGothic Md BT ;
 font-size: 15px; 
 line-height: 20px;
 border-radius: 10px;
  width: 800px;
 background-color: SandyBrown; opacity: 7
  width: 300px; height: 150px;
 padding: 6x; 
 
 
 }
 body
 {background-image: url("MULTIMEDIJA/svemir.jpg");
 }